# Advanced Python for Data Science

Learnings in this class include:
 - Lambda function ✅
 - Zip function ✅
 - Reduce ✅
 - Filter ✅
 - Map function ✅
 - Class and Object ✅
 - File Handling
 - Try and Exception ✅

### Lambda Function
##### A lambda function is a small anonymous fuction for one time use (throw away function).

<div style="display: flex; gap: 20px; margin-left: 20px;">
  <img src="Lambda_img.png" alt="Image 1" style="width: 400px; height: auto;" />
  <img src="Lambda_img2.png" alt="Image 2" style="width: 400px; height: auto;" />
  <img src="Lambda_img3.png" alt="Image 2" style="width: 400px; height: auto;" /> 
</div>

In [25]:
def add(x,y):
    return x+y

add(2,3)

5

In [61]:
add(10,15)

25

In [12]:
def exponential(x):
    return x**4

exponential(2)

16

In [24]:
exponential = lambda x: x**4

exponential(6)

1296

In [25]:
# Lambda function

double = lambda x: x*2

print(double(100))
print(double(11))

200
22

In [16]:
def triple(x):
    return x*3

exponential(triple(2))

1296

In [21]:
6*6*6*6

1296

In [19]:
quadriple  = lambda x: x*3
print(quadriple(2))

6

In [27]:
#Checking for Maximum value
max_value = lambda x,y: x if x > y else y
print(max_value(2,3))

3

In [29]:
#Checking for Maximum value
min_value = lambda x,y: x if x < y else y
print(min_value(2,3))

2

In [35]:
# Concatenating for fullname
full_name = lambda first, middle, last: first + " " + middle + " " + last
print(full_name("David", "Emmanuel", "Joshua"))

David Emmanuel Joshua

In [45]:
# Checking for even number
even_number = lambda x: x%2==0
print(even_number(10))

True

In [47]:
# This is a conditional that lambda fuction is solving
num = 5

if num % 2==0:
    print(f'{num} is an even number')
else:
    print(f'{num} is an odd number')

5 is an odd number

In [57]:
# Voting Eligibility

age = lambda age: age >= 18
print(age(19))

True

## Map Function 

The map function applies a given function to all items in the collection.

Formula for map function = map(function, collection)

In [15]:
#Example 1 on map function
celsius_temp = [0.0, 10.0, 20.0, 25.0, 30.0, 40.0, 50.0]

def c_to_f(temp):
    return (temp *9/5)+32

#function = c_to_f ✅
#collection = celsius_temp ✅

fahrenheit_temp  = list(map(c_to_f, celsius_temp))
print(f'Temperature in celsius is: {celsius_temp}')
print(f'Temperature in fahrenheit is: {fahrenheit_temp}')

Temperature in celsius is: [0.0, 10.0, 20.0, 25.0, 30.0, 40.0, 50.0]
Temperature in fahrenheit is: [32.0, 50.0, 68.0, 77.0, 86.0, 104.0, 122.0]

In [86]:
celsius_temp = [0.0, 10.0, 20.0, 25.0, 30.0, 40.0, 50.0]

def c_to_f(temp):
    return (temp *9/5)+32

#function = c_to_f ✅
#collection = celsius_temp ✅

fahrenheit_temp  = map(c_to_f, celsius_temp)
for temp in fahrenheit_temp:
    print(temp)

32.0
50.0
68.0
77.0
86.0
104.0
122.0

*Formula for map function = map(function, collection)*

In [95]:
# using lambda function in map function

celsius_temp = [0.0, 10.0, 20.0, 25.0, 30.0, 40.0, 50.0]

fahrenheit_temp  = list(map(lambda temp:(temp *9/5)+32, celsius_temp))

print(fahrenheit_temp)

[32.0, 50.0, 68.0, 77.0, 86.0, 104.0, 122.0]

In [103]:
#Example 2 on map function
num = [0.0, 10.0, 20.0, 25.0, 30.0, 40.0, 50.0]

def square(x):
    return x*x

number = (map(square, num))
for i in number:
          print(i)

0.0
100.0
400.0
625.0
900.0
1600.0
2500.0

In [109]:
num = [0.0, 10.0, 20.0, 25.0, 30.0, 40.0, 50.0]

number = list(map(lambda x:x*x, num))
print(number)

[0.0, 100.0, 400.0, 625.0, 900.0, 1600.0, 2500.0]

#### Filter Function: This function takes in function and list. 
- The filter function returns all the elements that pass a condition
- Formula for filter function = filter(function, list)

In [116]:
# Example 1 with def function

grade = [91, 32, 83, 44, 75, 56, 67]

def is_passing(grade):
    return grade>=50

passing_grades = list(filter(is_passing, grade))
print(passing_grades, type(passing_grades))

[91, 83, 75, 56, 67] <class 'list'>

In [45]:
#Example 1 with Lambda function
grade = [91, 32, 83, 44, 75, 56, 67]

passing_grades = list(filter(lambda grade:grade>=50, grade))
print(passing_grades)

[91, 83, 75, 56, 67]

#### Zip Function

- zip function aggregates elements from two or more iterables such as list, tuples, sets, dictionary etc. 
- It will create a zip object with paired elements stored in tuples for each element

In [62]:
#Example 1 using for loop with zip function

column = ['Column1', 'Column2', 'Column3']
username = ['Prof', 'Bro', 'Mister']
passwords = ('password', 'abc123', 'guest')
login_date = ['1/1/2021', '1/2/2021', '1/3/2021']
Phone_number = [1234, 5678, 9012]
Dec = [0.0, 3.2,4.4]

users  = zip(column,username, passwords, login_date, Phone_number, Dec)
for i in users:
    print(i)

('Column1', 'Prof', 'password', '1/1/2021', 1234, 0.0)
('Column2', 'Bro', 'abc123', '1/2/2021', 5678, 3.2)
('Column3', 'Mister', 'guest', '1/3/2021', 9012, 4.4)

In [73]:
#Example 1 using list with zip function

column = ['Column1', 'Column2', 'Column3']
username = ['Prof', 'Bro', 'Mister']
passwords = ('password', 'abc123', 'guest')
login_date = ['1/1/2021', '1/2/2021', '1/3/2021']
Phone_number = [1234, 5678, 9012]
Dec = [0.0, 3.2,4.4]



users  = list(zip(column,username, passwords, login_date, Phone_number, Dec))
print(users)

[('Column1', 'Prof', 'password', '1/1/2021', 1234, 0.0), ('Column2', 'Bro', 'abc123', '1/2/2021', 5678, 3.2), ('Column3', 'Mister', 'guest', '1/3/2021', 9012, 4.4)]

### Reduce Function

- Reduce function: This function reduces the elements in a collection to a single value
- Formula = reduce(function, collection)
#### Note: To use reduce function, import reduce from functools

In [75]:
from functools import reduce

In [99]:
prices = [19.99, 1.00, 5.75, 12.99, 10.99, 30, 40, 50, 60, 100]

def multiply(x,y):
    return x*y

total = reduce(multiply, prices) 
print(f'${total}')

$5907313005930.0

In [113]:
prices = [19.99, 1.00, 5.75, 12.99, 10.99, 30, 40, 50, 60, 100]

total = reduce(lambda x,y:x*y, prices) 
print(f'${total}')

$5907313005930.0

In [111]:
fruit = ['Banana', 'Pawpaw', 'Pineapple', 'Apple']

def add(x,y):
    return x+y

total = reduce(add, fruit) 
print(f'${total}')

$BananaPawpawPineappleApple

### List Comprehension

- This is a concise way to create lists in Python
- They are compact and easier to read than traditional loop

#### Formula = [Expression for value in iterable if condition]

In [125]:
#Example for loop 

doubles = []
for x in range (1,11):
    doubles.append(x*2)
print(doubles)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### List comprehension

- Formula = [Expression for value in iterable if condition]
- Formula breakdown = [Expression | for value in iterable | if condition]

In [130]:
doubles = [x*2 for x in range(1,11)]
print(doubles)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [132]:
#Example for loop 

triples = []
for x in range(1, 6):
    triples.append(x*3)
print(triples)

[3, 6, 9, 12, 15]

In [134]:
triples = [x*3 for x in range(1, 6)]
print(triples)

[3, 6, 9, 12, 15]

#### List comprehension

- Formula = [Expression for value in iterable if condition]
- Formula breakdown = [Expression | for value in iterable | if condition]

In [150]:
#Example 3
pos_number = [1,-2, 3, -4, 5,-6]

for num in pos_number:
    if num >= 0:
        print(num)

1
3
5

In [158]:
#Example for if condition in list comprehension
pos_number = [1,-2, 3, -4, 5,-6]

pos_number = [num for num in pos_number if num >= 0]
print(pos_number)

[1, 3, 5]

### Class and Objects

Class methods allow operations related to the class itself
- Class - Take (self) as the first parameter, which represents the class itself

In [177]:
class Person:
  def __init__(self, name, age, marital_status, height, weight, colour, tribe, size):
    self.name = name
    self.age = age
    self.marital_status = marital_status
    self.height = height
    self.weight = weight
    self.colour = colour
    self.tribe = tribe
    self.size = size
      
  def __str__(self):
      return f"{self.name}, {self.age}, {self.marital_status}, {self.height}, {self.weight}, {self.colour}, {self.tribe},{self.size}"
 
p1 = Person("John", 36, 'Single', 1.76, 57, 'Brown', 'IIHY', 32)
print(p1)
p2 = Person('David', 46, 'Married', 1.76, 60, 'Fair', 'Christian', 40)
print(p2)

John, 36, Single, 1.76, 57, Brown, IIHY,32
David, 46, Married, 1.76, 60, Fair, Christian,40

In [175]:
name = 'John'
print(name)

John

In [84]:
class School:
    def __init__(self, course, student, classes):
        self.course = course
        self.student = student
        self.classes = classes

    def __str__(self):
      return f"{self.course}, {self.student}, {self.classes}"

S1 = School("Biology101", 'James', "100Level")
print(S1)

Biology101, James, 100Level

#### Try and Exception

- Expection is an event that interrupts the flow of a program
- Examples of the error include ZeroDivisionError, TypeError, ValueError etc.
- Formula = Try, Except, Finally

In [203]:
try:
    number = int(input('Enter a number: ') )
    print(1/number)
except ZeroDivisionError:
    print("The reason you are not getting correct output is because 1 is indivisible by 0")
except ValueError:
    print('Put in numbers. Thank you!')

fruits = ['Banana', 'Orange', 'Apple']
for fruit in fruits:
    print(fruit)

Enter a number:  0

The reason you are not getting correct output is because 1 is indivisible by 0
Banana
Orange
Apple

In [128]:
try:
    1 + "a"
except Exception:
    print('Something went wrong')
finally:
    print("Good bye!, See you tomorrow")

Something went wrong
Good bye!, See you tomorrow

In [6]:
#Zero Division Error

try:
    x = 10 / 0
except ZeroDivisionError as e:
    print(f"Caught an error: {e}")

Caught an error: division by zero

In [3]:
#Import Error

try:
    import non_existing_module
except ImportError as e:
    print(f"Caught an error: {e}")

Caught an error: No module named 'non_existing_module'

In [138]:
try:
    import English
except Exception:
    print('There is no module called English in Python')

There is no module called English in Python

In [8]:
#Value Error

try:
    num = int("abc")
except ValueError as e:
    print(f"Caught an error: {e}")

Caught an error: invalid literal for int() with base 10: 'abc'

In [229]:
#IndexError

try:
    my_list = [1, 2, 3,4,5,6]
    print(my_list[6])
except IndexError as e:
    print(f"Caught an error: {e}")

Caught an error: list index out of range

In [12]:
# File Not Found Error

try:
    with open("nonexistent.txt", "r") as file:
        data = file.read()
except FileNotFoundError as e:
    print(f"Caught an error: {e}")

Caught an error: [Errno 2] No such file or directory: 'nonexistent.txt'

In [14]:
# Type Error

try:
    result = '2' + 5
except TypeError as e:
    print(f"Caught an error: {e}")

Caught an error: can only concatenate str (not "int") to str

#### File Handling

Writing files in Python

In [223]:
txt_data  = 'I like Pizza'

file_path = 'C:/Users/User/Desktop/output1.txt'

try:
    with open(file=file_path, mode='x') as files:
        files.write(txt_data)
        print(f"txtfile '{file_path}' was created")
except FileExistsError:
    print('File already exist')

File already exist

In [221]:
print(txt_data)

I like Pizza